body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

#search-form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search {
    width: 300px;
    margin-right: 10px;
}

#photo-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#photo-gallery img {
    margin: 10px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}
